<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PagueBem.Properties.Settings.paguebembdConnectionString1"
            connectionString="server=127.0.0.1;user id=abner;password=19954567;persistsecurityinfo=True;database=paguebembd"
            providerName="MySql.Data.MySqlClient" />
        <add name="PagueBem.Properties.Settings.paguebembd_connectionString"
            connectionString="server=127.0.0.1;user id=root;password=19954567;database=paguebembd"
            providerName="MySql.Data.MySqlClient" />
        <add name="PagueBem.Properties.Settings.StringConexao_DataView"
            connectionString="server=localhost;user id=root;password=19954567;database=paguebembd"
            providerName="MySql.Data.MySqlClient" />
        <add name="PagueBem.Properties.Settings.paguebembdConnectionString"
            connectionString="server=localhost;user id=root;password=19954567;persistsecurityinfo=True;database=paguebembd"
            providerName="MySql.Data.MySqlClient" />
        <add name="PagueBem.Properties.Settings.DataSet_Pessoaa" connectionString="server=localhost;user id=root;database=paguebembd;password=19954567;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>